<p id="notice"><%= notice %></p>

<h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc left</th>
      <th>Picture</th>
      <th>Desc right</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.name %></td>
        <td><%= slide.desc_left %></td>
        <td><%= image_tag slide.picture.url(:thumb) %></td>
        <td><%= slide.desc_right %></td>
        <td><%= link_to 'Show', slide %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
